In [63]:
import pandas as pd 
from pandas import ExcelWriter 
from pandas import ExcelFile 
titanic_df = pd.read_excel('titanic3.xls')
wine_df = pd.read_csv('wine.csv')
brain_df = pd.read_csv('brain_size.csv',sep = ';')
from sklearn import preprocessing as pp
titanic_df['fare'].head()

0    211.3375
1    151.5500
2    151.5500
3    151.5500
4    151.5500
Name: fare, dtype: float64

In [64]:
data_scalar = pp.MinMaxScaler(feature_range = (0,1))
fare_away = titanic_df[['fare']]
fare_away

          fare
0     211.3375
1     151.5500
2     151.5500
3     151.5500
4     151.5500
...        ...
1304   14.4542
1305   14.4542
1306    7.2250
1307    7.2250
1308    7.8750

[1309 rows x 1 columns]

In [65]:
fare_away_sealed = data_scalar.fit_transform(fare_away)
fare_away_sealed

array([[0.41250333],
       [0.2958059 ],
       [0.2958059 ],
       ...,
       [0.01410226],
       [0.01410226],
       [0.01537098]])

In [66]:
titanic_df['fare_away_sealed'] = fare_away_sealed
titanic_df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,fare_away_sealed
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",0.412503
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",0.295806
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.295806
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0.295806
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0.295806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN,0.028213
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN,0.028213
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN,0.014102
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN,0.014102
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN,0.015371

In [67]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   name              1309 non-null   object
 3   sex               1309 non-null   object
 4   age               1046 non-null   float64
 5   sibsp             1309 non-null   int64
 6   parch             1309 non-null   int64
 7   ticket            1309 non-null   object
 8   fare              1308 non-null   float64
 9   cabin             295 non-null    object
 10  embarked          1307 non-null   object
 11  boat              486 non-null    object
 12  body              121 non-null    float64
 13  home.dest         745 non-null    object
 14  fare_away_sealed  1308 non-null   float64
dtypes: float64(4), int64(4), object(7)
memory usage: 153.5+ KB

In [68]:
col_to_drop = ['body','boat','cabin','name']
titanic_df = titanic_df.drop(col_to_drop,axis = 1)
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   sex               1309 non-null   object
 3   age               1046 non-null   float64
 4   sibsp             1309 non-null   int64
 5   parch             1309 non-null   int64
 6   ticket            1309 non-null   object
 7   fare              1308 non-null   float64
 8   embarked          1307 non-null   object
 9   home.dest         745 non-null    object
 10  fare_away_sealed  1308 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 112.6+ KB

In [69]:
titanic_df['age'] = titanic_df['age'].interpolate()

titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pclass            1309 non-null   int64
 1   survived          1309 non-null   int64
 2   sex               1309 non-null   object
 3   age               1309 non-null   float64
 4   sibsp             1309 non-null   int64
 5   parch             1309 non-null   int64
 6   ticket            1309 non-null   object
 7   fare              1308 non-null   float64
 8   embarked          1307 non-null   object
 9   home.dest         745 non-null    object
 10  fare_away_sealed  1308 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 112.6+ KB

In [70]:
titanic_df = titanic_df.dropna()
titanic_df

,pclass,survived,sex,age,sibsp,parch,ticket,fare,embarked,home.dest,fare_away_sealed
0,1,1,female,29.0000,0,0,24160,211.3375,S,"St Louis, MO",0.412503
1,1,1,male,0.9167,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON",0.295806
2,1,0,female,2.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON",0.295806
3,1,0,male,30.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON",0.295806
4,1,0,female,25.0000,1,2,113781,151.5500,S,"Montreal, PQ / Chesterville, ON",0.295806
...,...,...,...,...,...,...,...,...,...,...,...
838,3,0,male,28.0000,2,0,3101277,7.9250,S,"Ruotsinphytaa, Finland New York, NY",0.015469
839,3,0,male,19.0000,0,0,347069,7.7750,S,"Myren, Sweden New York, NY",0.015176
1063,3,0,male,41.0000,0,0,SOTON/O2 3101272,7.1250,S,"Finland Sudbury, ON",0.013907
1089,3,0,male,20.0000,0,0,6563,9.2250,S,"Oslo, Norway Cameron, WI",0.018006
1281,3,0,male,22.0000,0,0,345767,9.0000,S,"Antwerp, Belgium / Stanton, OH",0.017567

In [71]:
brain_df
normalizer = pp.Normalizer(norm = 'l1')
fisq_array = brain_df[['FSIQ']]
fisq_array_norm = normalizer.transform(fisq_array)
brain_df['FISQ_normalized'] = fisq_array_norm
brain_df

C:\Users\sakth\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but Normalizer was fitted without feature names
  warnings.warn(

,Unnamed: 0,Gender,FSIQ,VIQ,PIQ,Weight,Height,MRI_Count,FISQ_normalized
0,1,Female,133,132,124,118,64.5,816932,1.0
1,2,Male,140,150,124,.,72.5,1001121,1.0
2,3,Male,139,123,150,143,73.3,1038437,1.0
3,4,Male,133,129,128,172,68.8,965353,1.0
4,5,Female,137,132,134,147,65.0,951545,1.0
5,6,Female,99,90,110,146,69.0,928799,1.0
6,7,Female,138,136,131,138,64.5,991305,1.0
7,8,Female,92,90,98,175,66.0,854258,1.0
8,9,Male,89,93,84,134,66.3,904858,1.0
9,10,Male,133,114,147,172,68.8,955466,1.0
10,11,Female,132,129,124,118,64.5,833868,1.0
11,12,Male,141,150,128,151,70.0,1079549,1.0
12,13,Male,135,129,124,155,69.0,924059,1.0
13,14,Female,140,120,147,155,70.5,856472,1.0
14,15,Female,96,100,90,146,66.0,878897,1.0
15,16,Female,83,71,96,135,68.0,865363,1.0
16,17,Female,132,132,120,127,68.5,852244,1.0
17,18,Male,100,96,102,178,73.5,945088,1.0
18,19,Female,101,112,84,136,66.3,808020,1.0
19,20,Male,80,77,86,180,70.0,889083,1.0
20,21,Male,83,83,86,.,.,892420,1.0
21,22,Male,97,107,84,186,76.5,905940,1.0
22,23,Female,135,129,134,122,62.0,790619,1.0
23,24,Male,139,145,128,132,68.0,955003,1.0
24,25,Female,91,86,102,114,63.0,831772,1.0
25,26,Male,141,145,131,171,72.0,935494,1.0
26,27,Female,85,90,84,140,68.0,798612,1.0
27,28,Male,103,96,110,187,77.0,1062462,1.0
28,29,Female,77,83,72,106,63.0,793549,1.0
29,30,Female,130,126,124,159,66.5,866662,1.0
30,31,Female,133,126,132,127,62.5,857782,1.0
31,32,Male,144,145,137,191,67.0,949589,1.0
32,33,Male,103,96,110,192,75.5,997925,1.0
33,34,Male,90,96,86,181,69.0,879987,1.0
34,35,Female,83,90,81,143,66.5,834344,1.0
35,36,Female,133,129,128,153,66.5,948066,1.0
36,37,Male,140,150,124,144,70.5,949395,1.0
37,38,Female,88,86,94,139,64.5,893983,1.0
38,39,Male,81,90,74,148,74.0,930016,1.0
39,40,Male,89,91,89,179,75.5,935863,1.0

In [72]:
brain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       40 non-null     int64
 1   Gender           40 non-null     object
 2   FSIQ             40 non-null     int64
 3   VIQ              40 non-null     int64
 4   PIQ              40 non-null     int64
 5   Weight           40 non-null     object
 6   Height           40 non-null     object
 7   MRI_Count        40 non-null     int64
 8   FISQ_normalized  40 non-null     float64
dtypes: float64(1), int64(5), object(3)
memory usage: 2.9+ KB

In [73]:
brain_df.loc[brain_df['Gender']== 'Male','Gender'] = 1
brain_df.loc[brain_df['Gender']== 'Female','Gender'] = 0
brain_df

,Unnamed: 0,Gender,FSIQ,VIQ,PIQ,Weight,Height,MRI_Count,FISQ_normalized
0,1,0,133,132,124,118,64.5,816932,1.0
1,2,1,140,150,124,.,72.5,1001121,1.0
2,3,1,139,123,150,143,73.3,1038437,1.0
3,4,1,133,129,128,172,68.8,965353,1.0
4,5,0,137,132,134,147,65.0,951545,1.0
5,6,0,99,90,110,146,69.0,928799,1.0
6,7,0,138,136,131,138,64.5,991305,1.0
7,8,0,92,90,98,175,66.0,854258,1.0
8,9,1,89,93,84,134,66.3,904858,1.0
9,10,1,133,114,147,172,68.8,955466,1.0
10,11,0,132,129,124,118,64.5,833868,1.0
11,12,1,141,150,128,151,70.0,1079549,1.0
12,13,1,135,129,124,155,69.0,924059,1.0
13,14,0,140,120,147,155,70.5,856472,1.0
14,15,0,96,100,90,146,66.0,878897,1.0
15,16,0,83,71,96,135,68.0,865363,1.0
16,17,0,132,132,120,127,68.5,852244,1.0
17,18,1,100,96,102,178,73.5,945088,1.0
18,19,0,101,112,84,136,66.3,808020,1.0
19,20,1,80,77,86,180,70.0,889083,1.0
20,21,1,83,83,86,.,.,892420,1.0
21,22,1,97,107,84,186,76.5,905940,1.0
22,23,0,135,129,134,122,62.0,790619,1.0
23,24,1,139,145,128,132,68.0,955003,1.0
24,25,0,91,86,102,114,63.0,831772,1.0
25,26,1,141,145,131,171,72.0,935494,1.0
26,27,0,85,90,84,140,68.0,798612,1.0
27,28,1,103,96,110,187,77.0,1062462,1.0
28,29,0,77,83,72,106,63.0,793549,1.0
29,30,0,130,126,124,159,66.5,866662,1.0
30,31,0,133,126,132,127,62.5,857782,1.0
31,32,1,144,145,137,191,67.0,949589,1.0
32,33,1,103,96,110,192,75.5,997925,1.0
33,34,1,90,96,86,181,69.0,879987,1.0
34,35,0,83,90,81,143,66.5,834344,1.0
35,36,0,133,129,128,153,66.5,948066,1.0
36,37,1,140,150,124,144,70.5,949395,1.0
37,38,0,88,86,94,139,64.5,893983,1.0
38,39,1,81,90,74,148,74.0,930016,1.0
39,40,1,89,91,89,179,75.5,935863,1.0

In [74]:
bins = pp.Binarizer(threshold = 100)
VIQ_array = brain_df[['VIQ']].values
bins.fit(VIQ_array)

Binarizer(threshold=100)

In [75]:
y = titanic_df[['survived']]
x= titanic_df.drop(columns= 'survived',axis =1)
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
x,y = make_blobs(n_samples = 1000)

In [76]:
x

array([[ 4.64876694,  7.10043317],
       [ 7.24068795, -4.54522413],
       [-5.83007943, -5.84449419],
       ...,
       [ 2.8764445 ,  7.49544217],
       [-6.63766662, -4.28217093],
       [ 4.18648848,  4.00450524]])

In [77]:
y

array([1, 0, 2, 0, 2, 1, 0, 1, 0, 2, 2, 1, 1, 1, 2, 0, 2, 2, 2, 1, 0, 2,
       2, 0, 2, 0, 0, 2, 1, 0, 2, 0, 2, 1, 1, 0, 2, 2, 0, 1, 0, 1, 2, 2,
       0, 2, 0, 1, 2, 2, 0, 1, 2, 2, 1, 0, 1, 2, 1, 2, 1, 0, 2, 0, 0, 1,
       1, 0, 1, 2, 1, 0, 1, 2, 0, 0, 2, 2, 0, 1, 2, 1, 2, 0, 0, 0, 0, 2,
       1, 0, 1, 1, 1, 2, 0, 0, 1, 0, 2, 1, 0, 0, 1, 2, 0, 1, 2, 1, 0, 1,
       0, 2, 0, 2, 0, 1, 0, 0, 2, 2, 2, 1, 1, 2, 1, 0, 1, 1, 0, 1, 2, 1,
       1, 1, 1, 1, 2, 1, 1, 0, 2, 0, 2, 1, 0, 0, 2, 0, 0, 2, 0, 2, 2, 1,
       1, 1, 0, 1, 1, 2, 1, 0, 0, 1, 1, 2, 2, 0, 1, 2, 1, 2, 2, 0, 0, 1,
       2, 2, 0, 1, 1, 0, 2, 2, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 2, 0, 2, 2,
       2, 0, 0, 0, 2, 1, 0, 1, 2, 2, 2, 0, 1, 1, 2, 0, 2, 0, 2, 1, 2, 0,
       0, 2, 1, 0, 2, 0, 2, 0, 2, 2, 1, 0, 2, 2, 1, 2, 0, 1, 1, 0, 0, 0,
       2, 1, 0, 2, 2, 1, 1, 0, 0, 0, 1, 1, 0, 2, 1, 2, 0, 2, 0, 1, 2, 1,
       0, 2, 2, 1, 1, 2, 0, 0, 0, 1, 2, 2, 1, 1, 2, 1, 1, 2, 0, 0, 1, 1,
       1, 0, 0, 0, 2, 0, 2, 2, 1, 2, 1, 0, 0, 2, 2, 2, 1, 2, 0, 1, 2, 0,
       0, 1, 0, 1, 1, 2, 1, 0, 1, 0, 1, 2, 2, 0, 2, 1, 0, 2, 0, 1, 0, 2,
       2, 2, 0, 2, 2, 0, 0, 0, 1, 0, 0, 2, 1, 1, 1, 2, 0, 1, 2, 1, 0, 1,
       1, 2, 2, 0, 0, 0, 1, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2,
       2, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 2, 1, 0, 2, 1, 1, 1, 1, 2, 0, 0,
       0, 0, 1, 2, 1, 1, 1, 0, 2, 0, 1, 1, 2, 0, 0, 1, 1, 2, 1, 1, 0, 1,
       2, 1, 1, 0, 0, 2, 1, 0, 1, 0, 1, 2, 2, 0, 1, 0, 1, 2, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 1, 0, 2, 1, 2, 1, 1, 0, 1, 2, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 2, 2, 1, 2, 2, 1, 2, 2, 0, 1, 1, 0, 2, 2, 2, 2, 2, 0, 2, 1,
       1, 1, 2, 1, 1, 2, 2, 0, 2, 0, 1, 2, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       2, 0, 1, 0, 1, 2, 2, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 2, 1, 1, 2,
       1, 2, 2, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 2, 0, 1, 2,
       2, 0, 0, 0, 2, 1, 0, 1, 0, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 1, 2, 2, 2, 1, 0, 1, 0, 0, 2, 0, 0, 2, 2, 1, 1, 2, 2, 1, 1, 2,
       2, 2, 2, 1, 1, 1, 0, 0, 1, 1, 0, 2, 0, 1, 2, 1, 2, 1, 1, 0, 2, 1,
       1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 1, 1, 2, 2, 1, 0, 1, 2, 2, 0, 2, 1,
       1, 2, 0, 2, 2, 2, 0, 0, 0, 2, 1, 2, 0, 0, 0, 2, 1, 2, 0, 2, 1, 2,
       1, 1, 2, 0, 1, 2, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 2, 1, 0, 1,
       2, 2, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 2, 1, 0, 0, 2, 0, 0, 0, 0,
       0, 2, 2, 2, 2, 1, 0, 1, 0, 0, 2, 0, 1, 0, 1, 0, 0, 2, 0, 1, 2, 1,
       2, 2, 0, 1, 2, 2, 1, 0, 1, 0, 2, 0, 0, 1, 0, 1, 1, 0, 0, 2, 2, 1,
       2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 0, 0, 2, 2, 1, 0, 1, 2, 2, 2, 1,
       0, 2, 1, 0, 2, 2, 2, 1, 2, 1, 0, 0, 0, 1, 1, 2, 0, 2, 2, 0, 0, 1,
       0, 2, 1, 2, 2, 0, 2, 2, 2, 1, 2, 1, 0, 2, 0, 0, 1, 1, 1, 0, 2, 0,
       0, 2, 2, 2, 0, 2, 0, 2, 2, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 2, 2,
       2, 1, 0, 2, 1, 1, 0, 1, 2, 0, 1, 0, 2, 1, 0, 0, 0, 2, 1, 0, 1, 0,
       1, 1, 0, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 0, 1,
       1, 1, 1, 2, 1, 2, 2, 0, 0, 2, 2, 1, 2, 2, 0, 2, 1, 1, 0, 0, 2, 0,
       2, 2, 1, 1, 2, 1, 1, 0, 2, 1, 2, 2, 0, 0, 2, 0, 1, 2, 1, 0, 0, 1,
       0, 1, 0, 0, 2, 2, 0, 1, 1, 0, 2, 2, 2, 0, 2, 0, 2, 1, 2, 1, 1, 2,
       0, 2, 0, 2, 1, 2, 1, 0, 0, 2, 2, 2, 1, 1, 0, 0, 1, 1, 1, 0, 2, 1,
       2, 2, 2, 2, 0, 1, 2, 0, 1, 2, 0, 2, 1, 2, 0, 1, 2, 1, 2, 1, 1, 0,
       2, 1, 2, 0, 1, 2, 2, 1, 2, 1])

In [80]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=30)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(970, 2) (30, 2) (970,) (30,)